<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-DES</title>
    <link rel="stylesheet" href="/cuentas/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <h1>DES</h1>
            <div class="nav-user">
                            <div id="loading-spinner" class="spinner-hidden"></div>

                <span id="userWelcome">Bienvenido, </span>
                <a href="/cuentas/logout" class="logout-btn">Cerrar Sesión</a>
            </div>
        </div>
    </nav>

    <div class="dashboard-container">
        <div class="welcome-section">
            <h2>Captura de Cuentas
            </h2>
            <!--<p>Has iniciado sesión correctamente en el sistema.</p>-->
        </div>

        <h3>Información Capturada</h3>

        <table id="totalesTable">
            <thead>
                <tr>
                    <th>Escuela</th>
                    <th>Casos</th>
                    <th>Accciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Datos del usuario se llenarán aquí -->
            </tbody>
        </table>


        <div class="session-info">
            <p>Session activa. <a href="/cuentas/logout">Cerrar sesión</a> cuando termines.</p>
        </div>
    </div>

    <script src="/cuentas/js/adminboard.js"></script>
</body>

</html>