<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Registro</title>
    <link rel="stylesheet" href="/cuentas/css/dashboard.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <h1>DES</h1>
            <div class="nav-user">
                <span id="userWelcome">Bienvenido, </span>
                <a href="/cuentas/logout" class="logout-btn">Cerrar Sesión</a>
            </div>
        </div>
    </nav>

    <div class="dashboard-container">
        <div class="welcome-section">
            <h2>Captura de Cuentas</h2>
            <!--<p>Has iniciado sesión correctamente en el sistema.</p>-->
        </div>

        <div class="user-info">
            <h3>Captura de datos</h3>
            <form id="agregarForm">
                <div class="form-group">
                    <label for="rfc">RFC:</label>
                    <input type="text" id="rfc" name="rfc" required>
                </div>
                <div class="form-group">
                    <label for="paterno">Paterno:</label>
                    <input type="text" id="paterno" name="paterno" required>
                </div>
                <div class="form-group">
                    <label for="materno">Materno:</label>
                    <input type="text" id="materno" name="materno" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="CLABE">CLABE:</label>
                    <input type="text" id="CLABE" name="CLABE" required>
                </div>
                <div class="form-group">
                    <label for="promedio">Promedio:</label>
                    <input type="NUMBER" step=".01" id="promedio" name="promedio" required>
                </div>
                <div class="form-group">
                    <!--<label for="idEscuela">idEscuela:</label>-->
                    <input type="hidden" id="idEscuela" name="idEscuela" required>
                </div>
                <button type="submit">Ingresar</button>
            </form>
            <div id="message" class="message"></div>

        </div>

        <div class="actions">
            <h3>Acciones Disponibles</h3>
            <div class="action-buttons">
                <button class="btn-danger" onclick="window.location.href = '/captura'">Cancelar</button>
            </div>
        </div>

        <div class="session-info">
            <p>Session activa. <a href="/cuentas/logout">Cerrar sesión</a> cuando termines.</p>
        </div>
    </div>
    <script src="/cuentas/js/validarCLABE.js"></script>
    <script src="/cuentas/js/agregar.js"></script>
</body>

</html>