<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-Escuela</title>
    <link rel="stylesheet" href="/cuentas/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <h1>DES</h1>
            <div class="nav-user">
                <span id="userWelcome">Bienvenido, </span>
                <a href="/cuentas/logout" class="logout-btn">Cerrar Sesión</a>
            </div>
        </div>
    </nav>

    <div class="dashboard-container">
        <div class="welcome-section">
            <h2>Cuentas Capturadas</h2>
        </div>
            <button class="btn-primary" onclick="agregaRegistro()">&#xFF0B;Agrega Registro</button>
        <div class="table-section">
            <table id="TablaCuentas" name="TablaCuentas" class="display">
                <thead>
                    <tr>
                        <th>RFC</th>
                        <th>Paterno</th>
                        <th>Materno</th>
                        <th>Nombre</th>
                        <th>Promedio</th>
                        <th>CLAVE</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Las filas de la tabla se llenarán dinámicamente con JavaScript -->
                </tbody>
            </table>
            <div class="session-info">
                <p>Session activa. <a href="/cuentas/logout">Cerrar sesión</a> cuando termines.</p>
            </div>
        </div>
    </div>
    <script src="/cuentas/js/capturados.js"></script>
</body>

</html>