<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte-Escuela</title>
    <link rel="stylesheet" href="/css/imprimir.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <table id="TablaCuentas" name="TablaCuentas" class="display">
        <thead>
            <tr>
                <th>RFC</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Nombre</th>
                <th>Promedio</th>
                <th>CLABE</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas de la tabla se llenarán dinámicamente con JavaScript -->
        </tbody>
    </table>
    <table style="width: 100%; border:none; margin-top: 50px;">
        <tr style="height: 80px;">
            <td style="width: 10%;  text-align: center; border:none">
                
            </td>
            <td style="width: 20%; text-align: center; border:none">
                
            </td>
            <td style="width: 10%; text-align: center; border:none">
                
            </td>
            <td style="width: 20%; text-align: center; border:none">
                
            </td>
            <td style="width: 10%; text-align: center; border:none">
                
            </td>
            <td style="width: 20%; text-align: center; border:none">
                
            </td>
            <td style="width: 10%; text-align: center; border:none">
                
            </td>
        </tr>
        <tr>
            <td style="width: 10%;  text-align: center; border:none">
                
            </td>
            <td style="width: 20%; text-align: center; border:none">
                _____________________<br>
                DirectorUA
            </td>
            <td style="width: 10%; text-align: center; border:none">
                
            </td>
            <td style="width: 20%; text-align: center; border:none">
                _____________________<br>
                ResponsableProceso
            </td>
            <td style="width: 10%; text-align: center; border:none">
                
            </td>
            <td style="width: 20%; text-align: center; border:none">
                _____________________<br>
                DGyCE
            </td>
            <td style="width: 10%; text-align: center; border:none">
                
            </td>
        </tr>
    </table>

    <div id="reporte"></div>

    <script src="/js/impresionescuela.js"></script>
</body>

</html>